<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('Estaciones Borrar')}"></head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	
	<form th:action="@{/estaciones/{id}(id=${estacion.id})}" method="post">
	  <input type="hidden" name="_method" value="delete"/>
	  <p>¿Eliminar estación <span th:text="${estacion.nombre}"/>?</p>
	  <button type="submit">Eliminar</button>
	</form>
	
	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>