<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('Viajes Formulario')}"></head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<form th:action="@{/viajes}" th:object="${viaje}" method="post">
		<label>Fecha Hora: <input th:field="*{fechaHora}" type="datetime-local" /></label>
		<label>Tarjeta:
			<select th:field="*{tarjeta.id}">
				<option th:each="t : ${tarjetas}" th:value="${t.id}" th:text="${t.codigo}" />
			</select>
		</label>
		<label>Origen:
			<select th:field="*{estacionOrigen.id}">
				<option th:each="e : ${estaciones}" th:value="${e.id}" th:text="${e.nombre}" />
			</select>
		</label>
		<label>Destino:
			<select th:field="*{estacionDestino.id}">
				<option th:each="e : ${estaciones}" th:value="${e.id}" th:text="${e.nombre}" />
			</select>
		</label>
		<button type="submit">Guardar</button>
	</form>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>