<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: commonHead('Transacciones Formulario')}"></head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<form th:action="@{/transacciones}" th:object="${transaccion}" method="post">
		<label>Tipo: <input th:field="*{tipo}" /></label>
		<label>Importe: <input th:field="*{importe}" /></label>
		<button type="submit">Guardar</button>
	</form>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>