<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<section th:fragment="contacto" class="sube-evolucion-banner">
		<div class="sube-evolucion-banner__container">
			<img src="/images/telefono.png" alt="Línea telefónica SUBE" class="sube-evolucion-banner__icon" />
			<div class="sube-evolucion-banner__text">
				<p class="sube-evolucion-banner__line1">0800-777-SUBE (7823)</p>
				<p class="sube-evolucion-banner__line2">Línea gratuita de atención telefónica</p>
			</div>
		</div>
	</section>
</body>
</html>
